.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightblue;
  color: black;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 133, 225);
  color: black;
}

.image{
  width: 50%;
  height: 20%;
  margin-left: 50%;
}
.title{
  font-size: 2rem;
  margin: 2rem 0;
}
.description{
  line-height: 1;
  margin: 2rem 0rem;
  font-size: 1.2rem;
}

.button {
  margin-bottom: 2%;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
  border: none;
  margin-left: 80px;
  background-color: rgb(238, 221, 30);
  font-size: 15px;
  color: black;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}